<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" href="/lite-video-embed.css"></link>
	<style type="text/css">
		.close{opacity: 0}
		[data-video-embed]{
			width: 95vw; 
			max-width: 30rem; 
			display: flex; 
			align-items: center; 
			justify-content: center; 
			text-align: center;
		}
	</style>
</head>
<body data-for="films-list">


  <a 	data-video-embed
    	data-title="{{film.titre}}" 
    	data-platform="vimeo"
    	data-id="820682289"
    	data-controls="true"
   		href="/film">



   	<picture>	
   		<img src="cover.jpg">
   	</picture>

    <div class="head">
      <h2 class="title" aria-label="titre">Vimeo</h2>
      <p class="client" aria-label="commanditaire">Commanditaire</p>
    </div class="head" >
    <div class="iframeContainer"></div>
	</a>

	<br>

  <a 	data-video-embed
    	data-title="{{film.titre}}" 
    	data-platform="youtube"
    	data-id="_2LRY_gJ4YQ"
    	data-controls="true"
   		href="/film">

   	<picture>	
   		<img src="cover.jpg" style="transform: scaleX(-1);">
   	</picture>

    <div class="head">
      <h2 class="title" aria-label="titre">Youtube</h2>
      <p class="client" aria-label="commanditaire">Commanditaire</p>
    </div class="head" >
    <div class="iframeContainer"></div>
	</a>

<script type="text/javascript" src="global.js"></script>
<script src="https://player.vimeo.com/api/player.js"></script>
<script type="text/javascript" src="lite-video-embed.js"></script>
<script type="text/javascript">

	ehanceVideoLink('[data-video-embed][data-platform="vimeo"]',  theaterMode().forFilm, 'iframeContainer', theaterMode().deniedTheater)
	ehanceVideoLink('[data-video-embed][data-platform="youtube"]',  callback, 'iframeContainer', theaterMode().deniedTheater)


	function callback(){
		console.log("Its a callback")
	}
</script>
</body>
</html>