@keyframes lve-fadeIn{
  from{ opacity: 0;}
  to{ opacity: 1;}
}

@keyframes lve-loading {
  from {transform: translateX(-50%) translateY(-50%) rotate(0deg);}
  to {transform: translateX(-50%) translateY(-50%) rotate(360deg);}
}

[data-video-embed]{
    position: relative;
    aspect-ratio: 16/9;
    display: inline-block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    overflow: hidden;
    --tweak: 1;
    object-fit: cover;
    box-sizing: border-box;
}

[data-video-embed].activated{
    cursor: unset;
}

[data-video-embed]:not(.activated){
    transition: .25s ease-in-out;    
}

[data-video-embed]:after {
    content: "";
    display: block;
    padding-bottom: 56.25%;
    position: absolute;
    background: none;
}

[data-video-embed] iframe,
[data-video-embed] > picture,
[data-video-embed] > img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: inline-block;
    z-index: -1;
}

[data-video-embed] iframe{
    z-index: 2;
    opacity: 0;
    transition: .25s ease-in-out;
}

[data-video-embed] img{
    display: inline-block;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 1;
    
}


[data-video-embed].playing iframe,
[data-video-embed].paused iframe{
    animation: 1s 0s ease-in-out 1 lve-fadeIn forwards;
    opacity: 1;
}

/*[data-video-embed].activated img{
    opacity: 0;
}*/

[data-video-embed] .lve-playbtn{
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%)translateY(-50%);    
    background: none;
    transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
    outline: 0;
    border: 0;
    cursor: pointer;
    width: calc(min(15%, 100px));
    overflow: visible;
    padding: 10% 30%;
    color: #fff;
    z-index: 3;
}

[data-video-embed] .lve-playbtn svg {
    overflow: visible;
    left: 50%;
    transform: translateX(-50%);
}

[data-video-embed] .lve-playbtn use {
    transform:translateX(0);
    transition:.3s cubic-bezier(.68,-.55,.27,1.55)
}
[data-video-embed] .lve-playbtn:hover use:first-of-type{
    transform:translateX(20%);
}
[data-video-embed] .lve-playbtn:hover use:nth-of-type(2){
    transform:translateX(-20%);
}

[data-video-embed].activated button.lve-playbtn{
    display: none;
}

/* Load icon */
[data-video-embed]:before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(min(15%, 100px));
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 100%;
    border: 1px solid white;
    border-top-color: transparent;
    opacity: 0;
    transition: opacity .5s 0s ease-in-out
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
}

[data-video-embed].activated:not(.playing):not(.paused):not(.clearing):before{
    -webkit-animation: lve-loading 2s linear infinite;
    animation: lve-loading 2s linear infinite;
    opacity: 1;
    transition-delay: .5s;
    z-index: 5;
}


/*
[data-video-embed] .lve-playbtn:after,
[data-video-embed] .lve-playbtn:before {
    content: "";
    border-style: solid;
    display: inline-block;
    opacity: 1;
    width: 100%;
    transition: opacity .25s ease;
}

[data-video-embed] .lve-playbtn:before {
    border-color: transparent transparent transparent var(--cc);
    border-width: calc(4em * var(--tweak)) 0 calc(4em * var(--tweak)) calc(6em * var(--tweak));     
}

[data-video-embed] .lve-playbtn:after {
    border-color: transparent transparent transparent var(--bg);
    border-width: calc(4em * var(--tweak) - 1px) 0 calc(4em * var(--tweak) - 1px) calc(6em * var(--tweak) - 2px);     
    position: absolute;
    top: 1.5px;
    left: .5px;
}

[data-video-embed] > .lve-playbtn,
[data-video-embed] > .lve-playbtn:before, {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

[data-video-embed]:not(.activated):hover .lve-playbtn{
    opacity: .7;
    transition-delay: opacity .1s;
}

[data-video-embed].activated:before,
[data-video-embed].activated > .lve-playbtn:before {
    opacity: 0;
    pointer-events: none;
}*/

/* Dark Mode Tweak */
body.darkMode [data-video-embed]:not(.activated){}
